@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

body,
html {
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: 100vh;
	overflow: auto;
	background-color: rgb(160, 160, 190);
	font-family: sans-serif;
}