.CellListItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 400px) {
  .CellListItem {
    width: 210px;
    height: 180px;
  }
}

.CellListItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.CellListItem__name {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.CellListItem__description {
  font-size: 0.85em;
}

.CellListItem__price {
  color: darkviolet;
}

.Actions {
  display: flex;
  justify-content: space-between;
}

.Actions__add,
.Actions__remove {
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Actions__remove {
  background-color: red;
}

.Actions__add {
  background-color: darkviolet;
}

.Actions__add--fill {
  width: 100%;
}

.CellListItem__photo {
  height: 150px;
  margin-right: -60px;
}
