.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 350px;
  height: 45px;
}

.Logo__tittle {
  position: absolute;
  left: 5px;
  font-family: 'Exo';
  font-weight: 500;
  font-size: 2em;
}

.Logo__icon {
  position: absolute;
  left: -70px;
  top: -15px;
}

.Bag {
  position: relative;
}

.Bag__icon {
  cursor: pointer;
}

.Bag__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.Options {
  display: flex;
}

.Cell {
  background: none;
  border: none;
}

.Cell__icon {
  cursor: pointer;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }
  .row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .Logo{
    margin-left: 2rem;
    width: 15rem;
  }
  .Logo__icon{
    margin-left: 1.5rem;
  }
  .Logo__tittle{
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo__tittle {
    margin-left: 0.5rem;
    font-size: 1.5em;
  }
  .Logo {
    margin-left: 0.5rem;
    width: 100%;
  }
}
