.CellList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px 50px;
}

@media (max-width: 1220px) {
  .CellList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .CellList {
    grid-template-columns: 1fr;
  }
}


.CellListItem__badge {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}
