.CellListItem {
  font-family: 'Exo';
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  position: relative;
  transition: all 0.5s;

}

@media (max-width: 400px) {
  .CellListItem {
    width: 210px;
    height: 180px;
  }
  .CellListItem__photo{
    margin-right: 1rem;
  }
}

.CellListItem--disable {
  box-shadow: 0px 0px 7px rgba(146, 67, 180, 0.786);
}

.CellListItem--disable,
.CellListItem--disable .CellListItem__price {
  color: gray;
}

.CellListItem--disable .CellListItem__badge {
  display: none;
}

.CellListItem--disable img {
  filter: grayscale(100%);
}

.CellListItem--disable button:disabled {
  background-color: gray;
}

.CellListItem__tag {
  background-color: rgba(146, 67, 180, 0.786) !important;
  color: white !important;
  position: absolute;
  font-size: 0.6em;
  border-radius: 5px;
  padding: 5px;
  top: -15px;
  left: -10px;
  letter-spacing: 1px;
}

.CellListItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.CellListItem__name {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.CellListItem__description {
  font-size: 0.85em;
  width: 100%;
}

.CellListItem__price {
  color: rgba(146, 67, 180, 0.786);
}

.Actions {
  display: flex;
  justify-content: space-between;
}

.Actions__add,
.Actions__remove {
  border: none;
  color: white;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Actions__remove {
  background-color: rgba(186, 67, 67, 0.662);
}

.Actions__add {
  background-color: rgba(146, 67, 180, 0.786)
}

.Actions__add--fill {
  width: 100%;
}

.CellListItem__photo {
  height: 150px;
  margin-right: -60px;
}

.CellListItem--delete {
  box-shadow: 0px 0px 7px rgba(211, 0, 0);
}

.CellListItem__tag--delete {
  background-color: red !important;
}
